.cormorant-<uniquifier> {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.menu {
    margin: auto;
    margin-top: 8px;
    padding: 10px;
    width: 98%;
    background: rgb(25, 62, 73);
    border-radius: 10px;
}

.nav a {
    font-size: 110%;
    color: white;
    font-family: Cormorant;
    text-decoration: none;
    font-weight: bold;
    margin: 0 70px;
    transition: .2s;
    text-transform: uppercase;
    width: max-content;
}

.nav a:hover {
    font-size:larger;
    font-weight: bolder;
    background-color: rgb(16, 39, 46);
    border-radius: 5px;
    padding: 2px 5px;
}


hr {
    color: white;
    border: white 1px solid;
    width: 75%;
    margin-top: 300px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/fondo.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: Cormorant;
    margin-bottom: 20px;
    height: auto;
}



h1 {
    color: white;
    font-family: Cormorant;
    font-size: 700%;
    letter-spacing: -8px;
    margin-top: 15%;
    padding-bottom: 50px;
}


.inicio p {
    color: white;
    font-size: 150%;
    font-weight: bold;
    border: white 2px solid;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.sobre-mi h2 {
    color: white;
    font-family: Cormorant;
    font-size: 400%;
    letter-spacing: -2px;
    margin-top: 7%;
}

.sobre-mi p {
    color: white;
    font-family: Cormorant;
    font-size: 150%;
    background-color: rgb(25, 62, 73);
    padding: 10px;
    overflow: visible;
    border-radius: 10px;
    width: 60%;
    margin: auto
}

.proyectos h2, .redes h2 {
    color: white;
    font-family: Cormorant;
    font-size: 400%;
    letter-spacing: -2px;
    padding-top: 80px;
}

.proyectos img{
    width: 30%;
    border-radius: 10px;
}

.redes img{
    width: 30px;
    border: black 2px solid;
    border-radius: 9px;
    margin: 5px 0;
    background-color: white;
}


.redes a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 5px;
}

.redes a:hover{
    font-weight: bolder;
    text-decoration: underline;
}

.redes p {
    display: flex;
    justify-content: center;
    margin: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 400% !important;
        letter-spacing: -4px !important;
    }

    .sobre-mi p {
        width: 80%;
    }

    .proyectos img{
        width: 70%;
    }

    .nav a {
        font-size: 90%;
    }

    .sobre-mi h2 {
        margin-top: 4%;
    }
}
