body {
    background-color: #1d1d1d;
    color: #d1d1d1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin: 0;
    text-align: center;
    justify-content: center;
}



/*-----Nav-bar-----*/

header {
    justify-items: center;
    margin-top: 10px;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 1rem 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    border: #b84eff solid 1px;
    border-radius: 9999px;
    background-color: #11111170;
    gap: 2rem;
}

#nav-bar li {
    padding: 0;
    height: 20px;
    transition: 0.3s;
}

#nav-bar a {
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    transition: 0.3s;
}

a:hover {
    color: white !important;
}



/*-----Footer-----*/

#divContact {
    position: relative;
}

#divContact footer {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1rem;
    position: absolute;
    bottom: 0; 
    width: 100%;
}

#divContact footer a {
    color: #d1d1d1;
    text-decoration: none;
    border-bottom: #d1d1d1 solid 1px;
}



/*-----secciones-----*/

p {
    font-size: 1.05rem;
    font-weight: 400;
}


#divHome {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    margin: 4.5rem 0 0 0;
    font-family: "Courier New";
    border-bottom: #b84eff solid 1px;
    max-width: 60vw;
    min-width: min-content;

}

h2 {
    margin-bottom: 3rem;
}

#redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

#redes img {
    width: 30px;
    height: 30px;
}

#resume {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.6rem 1rem;
    background-color: transparent;
    border: #b84eff solid 1px;
    border-radius: 9999px;
    color: #b84eff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

#resume:hover {
    background-color: #b84eff;
    color: white;
}

#divAboutMe p {
    width: 90vw;
    max-width: 30rem;
    border: #b84eff solid 1px;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 1.5;
}

.seccion {
    justify-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#divSkills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 850px) {
    #divSkills {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    background-color: #3a3a3a;
    border: #3a3a3a solid 1px;
    border-radius: 15px;
    transition: 0.3s;
    width: fit-content;
    text-align: left;
}

.card:hover {
    border: white 1px solid;
    box-shadow: 0px 0px 40px #fff2;
    scale: 1.05;
}

#divSkills i {
    color: white;
    padding: 0.3rem;
    background-color: indigo;
    border-radius: 20%;
    font-size: 1.7rem;
}

#divSkills h3 {
    margin-top: 1rem;
}

#divSkills img {
    width: 60px;
}

.skill {
    opacity: 0.3;
    transition: 0.3s;
}

.skill p{
    opacity: 0;
    transition: 0.3s;
    margin: 0;
}

.skill:hover {
    opacity: 1;
    scale: 1.1;
}

.skill:hover p {
    opacity: 1;
}

#divProjects {
    padding: 0 5%;
}

#divProjects p{
    margin-bottom: 6px;
}

#divProjects a{
    text-decoration: none;
    color: #d1d1d1;
}

h3 {
    margin: 0;
    font-size: 1.3rem;
}



/*-----scroll-----*/

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


/* Botón para subir */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: transparent;
    border: #b84eff solid 1px;
    color: white;
    outline: none;
    padding: 8px 8px 10px 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    transition: 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #9d3fd7;
}


/*-----Contact Me-----*/

#divContact form {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 30rem;
    border: #9d3fd7 solid 1px;
    border-radius: 20px;
    padding: 1.7rem;
    box-sizing: border-box;
}

#divContact form button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    border: #b84eff solid 1px;
    background-color: #3a3a3a;
    color: white;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
}

#divContact form button:hover {
    background-color: #b84eff;
    color: white;
}

#divContact form input,
#divContact form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-color: #3a3a3a;
    color: white;
    transition: 0.3s;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}
